th, td {
border: 5px solid  white;
text-align: center;
}
table {
width: 90%;
margin: auto;
}

*{
font-size: 30px;
padding: 10px;
background-color: bisque;
}


.modulo, th {
background-color: lightblue;
}

.c{
background-color: khaki;
}

.ta{
background-color: khaki;
}

.md{
background-color: khaki;
}

td.video {
text-align: center;
width: 350px;
}

td.fonte {
width: 200px;
}

input, button {
    background-color: plum;
}


.ban{
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1, h2{
background-color: lightblue;
font-size: 36;
text-align: center;
}

.p{
background-color: lightblue;
font-size: 36;

}